{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">

    <div class="hero-section-about">
        <img src="/site/images/45.png.webp" alt="Posts-Gradient" style="max-width: 100%; height: 200px; width: 100%;">
    </div>

    <header class="entry-header">
        <p class="entry-header-flex">{{ .Title | markdownify }}</p>
    </header>

    <div class="hero-section-about">
        <p class="hero-about my-name mark-line">MTech in Computer Science and Information Security</p>        
    </div>

    <div class="hero-section-about">
        <p class="hero-about my-name mark-line">NITW '26</p>        
    </div>

    <div class="hero-section-about" style="text-align: center; margin: 20px auto; position: relative; width: 60%; max-width: 400px;">
        <img src="/site/images/map.png" alt="Location Map" style="width: 100%; height: auto; border-radius: 12px;">
        <p style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display'; font-size: 24px; font-weight: 500; color: var(--primary);">Where</p>
        <p style="position: absolute; bottom: 10px; right: 10px; margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text'; font-size: 14px; color: var(--secondary);">Warangal, Telangana, India</p>
    </div>

    <div class="hero-section-music" style="margin-top: 50px;">
        <p>Currently Listening To:</p>
    </div>

    <div class="hero-section-music">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6HexNTb392JS071DoTGo0y?utm_source=generator" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    </div>
    
    <div class="entry-content">
        {{ .Content | markdownify }}
        
    </div>
    <div class="entry-content">
        
    </div>
 
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
           
    </footer>
</article>
{{- end -}}
