{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">

    <div class="hero-section-about">
        <img src="/site/images/45.png.webp" alt="Posts-Gradient" style="max-width: 100%; height: 200px; width: 100%;">
    </div>

    <header class="entry-header">
        <p class="entry-header-flex">{{ .Title | markdownify }}</p>
    </header>

    <div class="hero-section-about">
        <p class="hero-about my-name mark-line">MTech in Computer Science and Information Security</p>        
    </div>

    <div class="hero-section-about">
        <p class="hero-about my-name mark-line">NITW '26</p>        
    </div>
    
    <div class="entry-content">
        {{ .Content | markdownify }}
        
    </div>
    <div class="entry-content">
        
    </div>
 
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
           
    </footer>
</article>
{{- end -}}
